auto-install-peers = true
strict-peer-dependencies = false
prefer-workspace-packages = true
link-workspace-packages = deep
hoist = true
shamefully-hoist = true

# Registry settings
registry=https://npm.pkg.github.com/
fetch-retries=5
fetch-retry-factor=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
network-timeout=100000

# Additional rate limit handling
maxsockets=5
node-options=--max-http-header-size=15000
